<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
	id="WebApp_ID" version="5.0">
	<display-name>HibernateORM</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.jsp</welcome-file>
		<welcome-file>default.htm</welcome-file>
	</welcome-file-list>
	<servlet>
		<description></description>
		<display-name>AddLocation</display-name>
		<servlet-name>AddLocation</servlet-name>
		<servlet-class>com.ben.servlets.AddLocation</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddLocation</servlet-name>
		<url-pattern>/AddLocation</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UpdateLocation</display-name>
		<servlet-name>UpdateLocation</servlet-name>
		<servlet-class>com.ben.servlets.UpdateLocation</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateLocation</servlet-name>
		<url-pattern>/UpdateLocation</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>UpdateID</display-name>
		<servlet-name>UpdateID</servlet-name>
		<servlet-class>com.ben.servlets.UpdateID</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateID</servlet-name>
		<url-pattern>/UpdateID</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DeleteID</display-name>
		<servlet-name>DeleteID</servlet-name>
		<servlet-class>com.ben.servlets.DeleteID</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteID</servlet-name>
		<url-pattern>/DeleteID</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LocationsList</display-name>
		<servlet-name>LocationsList</servlet-name>
		<servlet-class>com.ben.servlets.LocationsList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LocationsList</servlet-name>
		<url-pattern>/LocationsList</url-pattern>
	</servlet-mapping>
</web-app>